{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
  .introduction {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  }
  /* Handmade CSS Part */
  #home-page {
    margin-top: 2.25%;
    margin-bottom: 1.5%;
  }
  #role-sep {
    margin-top: 3.5%;
    margin-bottom: 2.5%;
    padding: 2% 0;
    border-top: 1px dashed #aaa;
    border-bottom: 1px dashed #aaa;
  }
</style>
<div align="center">
    <h1 id="home-page">Home Page</h1>

    {% if user.is_authenticated %}
    <br>
    <h2>Hello, {{user.name}}</h2>
    <h2>You logged in successfully</h2>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}